<a href="https://colab.research.google.com/github/GokulGopinath/Machine-Learning-Algorithms-Implementation/blob/master/id3(Decision_Trees).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
age= ['o','o','o','m','m','m','m','n','n','n']
comp=    ['y','n','n','y','y','n','n','y','n','n']
types=['s','s','h','s','h','h','s','s','h','s']
profit   =['d','d','d','d','d','u','u','u','u','u']

dataset={'age':age,
         'comp':comp,
         'types':types,
         'profit':profit}
df=pd.DataFrame(dataset)
df

  age comp types profit
0   o    y     s      d
1   o    n     s      d
2   o    n     h      d
3   m    y     s      d
4   m    y     h      d
5   m    n     h      u
6   m    n     s      u
7   n    y     s      u
8   n    n     h      u
9   n    n     s      u

# Info(D)

In [49]:
import math
def info(col,df):
  sum=0
  for i in set(df[col]):
    temp=df[df[col]==i][col].count()/df[col].count()
    sum+=(-1)*temp*math.log(temp,2)
  return sum
info('profit',df)

1.0

In [52]:
info('profit',df[df['age']=='m'])

1.0

# Info

In [81]:
def info_col(col,df):
  sum=0
  for i in set(df[col]):
    temp=df[df[col]==i][col].count()/df[col].count()
    temp_d=df[(df[col]==i )& (df['profit']=='d')][col].count()/df[df[col]==i][col].count()
    temp_u=df[(df[col]==i )& (df['profit']=='u')][col].count()/df[df[col]==i][col].count()
    print(temp_d,temp_u)
    #foll cond as log(0) is not defined
    if temp_u==0:
      sum+=temp*((-1)*temp_d*math.log(temp_d,2))
    elif temp_d==0:
      sum+=temp*((-1)*temp_u*math.log(temp_u,2))
    elif (temp_d or temp_u)==0:
      sum+=0
    else:
      sum+=temp*((-1)*temp_d*math.log(temp_d,2)+(-1)*temp_u*math.log(temp_u,2))

  return sum
print("info gain age:",info_col('age',df))

1.0 0.0
0.0 1.0
0.5 0.5
info gain age: 0.4

In [46]:
print("info gain comp:",info_col('comp'))

0.3333333333333333 0.6666666666666666
0.75 0.25
info gain comp: 0.8754887502163469

In [47]:
print("info gain type:",info_col('types'))

0.5 0.5
0.5 0.5
info gain type: 1.0

## Gain

In [51]:
def gain(col,df):
  return info('profit',df)-info_col(col,df)
print("gain of age is:",gain('age',df))

1.0 0.0
0.0 1.0
0.5 0.5
gain is: 0.6

# Compute col with highest gain for a dataframe

In [89]:
def compute_col_highestGain(df):
  maximum=0
  col_name="hi"
  gains=0
  for col in set(df.columns).difference(set(['profit'])):
    gains=gain(col,df)
    print("gain of",col,":",gains)
    if maximum<gains:
      maximum=gains      
      col_name=col
  if col_name=='hi':
    return set(df['profit']) #This gets executed when all col have gain 0
  else:
    return col_name
print("Col with hoghest gain:",compute_col_highestGain(df))

1.0 0.0
0.0 1.0
0.5 0.5
gain of age : 0.6
0.3333333333333333 0.6666666666666666
0.75 0.25
gain of comp : 0.12451124978365313
0.5 0.5
0.5 0.5
gain of types : 0.0
Col with hoghest gain: age

In [85]:
print("Col with hoghest gain:",compute_col_highestGain(df[df['age']=='m']))

0.5 0.5
gain of age : 0.0
0.0 1.0
1.0 0.0
gain of comp : 1.0
0.5 0.5
0.5 0.5
gain of types : 0.0
Col with hoghest gain: ('comp', 1.0)

In [84]:
print("Col with hoghest gain:",compute_col_highestGain(df[df['age']=='n']))

0.0 1.0
gain of age : 0.0
0.0 1.0
0.0 1.0
gain of comp : 0.0
0.0 1.0
0.0 1.0
gain of types : 0.0
Col with hoghest gain: {'u'}

In [86]:
print("Col with hoghest gain:",compute_col_highestGain(df[df['age']=='o']))

1.0 0.0
gain of age : 0.0
1.0 0.0
1.0 0.0
gain of comp : 0.0
1.0 0.0
1.0 0.0
gain of types : 0.0
Col with hoghest gain: {'d'}

In [88]:
new_df=df[df['age']=='m']
print("Col with hoghest gain:",compute_col_highestGain(new_df[new_df['comp']=='y']))
print("Col with hoghest gain:",compute_col_highestGain(new_df[new_df['comp']=='n']))

1.0 0.0
gain of age : 0.0
1.0 0.0
gain of comp : 0.0
1.0 0.0
1.0 0.0
gain of types : 0.0
Col with hoghest gain: {'d'}
0.0 1.0
gain of age : 0.0
0.0 1.0
gain of comp : 0.0
0.0 1.0
0.0 1.0
gain of types : 0.0
Col with hoghest gain: {'u'}

# Recursive Final Function

In [97]:
def func(age,comp,types,df):
  highest_gain=compute_col_highestGain(df)
  if highest_gain=='age':
    return func(age,comp,types,df[df['age']==age])
  if highest_gain=='comp':
    return func(age,comp,types,df[df['comp']==comp])
  if highest_gain=='types':
    return func(age,comp,types,df[df['age']==types])
  else:
    return highest_gain
answer=func('n','n','s',df)

1.0 0.0
0.0 1.0
0.5 0.5
gain of age : 0.6
0.3333333333333333 0.6666666666666666
0.75 0.25
gain of comp : 0.12451124978365313
0.5 0.5
0.5 0.5
gain of types : 0.0
0.0 1.0
gain of age : 0.0
0.0 1.0
0.0 1.0
gain of comp : 0.0
0.0 1.0
0.0 1.0
gain of types : 0.0

# Final Answer

In [98]:
answer

{'u'}

### Practice

In [35]:
df[df['age']=='o']['age'].count()
df['age'].count()
temp=df[(df['age']=='o' )& (df['profit']=='d')]['age'].count()/df[df['age']=='o']['age'].count()
# df[(df['age']=='o' )& (df['profit']=='d')][col].count()/df[df[col]==i].count()
math.log(temp,2)

0.0

In [0]:
set(df['outlook'])
for i in set(df['outlook']):
  print(df[df['outlook']==i]['outlook'].count())
df['outlook'].count()

5
5
4

14

In [11]:
import math
0.5*math.log(0.5,2)

-0.5

In [56]:
for col in df.columns:
  print(col)

age
comp
types
profit

In [66]:
set(df.columns).difference(["profit"])

{'age', 'comp', 'types'}

In [64]:
list('profit')

['p', 'r', 'o', 'f', 'i', 't']

In [77]:
df[df['age']=='n']

  age comp types profit
7   n    y     s      u
8   n    n     h      u
9   n    n     s      u

In [79]:
info('profit',df[df['age']=='n'])

0.0

In [82]:
info_col('age',df[df['age']=='n'])

0.0 1.0

0.0