<a href="https://colab.research.google.com/github/GokulGopinath/Machine-Learning-Algorithms-Implementation/blob/master/Linear_Regression_Implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import math
x=[0,1,6,3,5]
y=[6,5,2,4,3]
df=pd.DataFrame({'x':x,'y':y})
df
# math.sqrt(df['x'].sum())

   x  y
0  0  6
1  1  5
2  6  2
3  3  4
4  5  3

In [0]:
((df['x']-df['x'].mean())**2).sum()

26.0

In [0]:
df.mean()

x    3.0
y    4.0
dtype: float64

In [0]:
numerator=((df['x']-df['x'].mean())*(df['y']-df['y'].mean())).sum()
# r=numerator/(math.sqrt(((df['x']-df['x'].mean())**2).sum())*math.sqrt(((df['y']-df['y'].mean())**2).sum()))
numerator

-16.0

In [0]:
denominator=(math.sqrt(((df['x']-df['x'].mean())**2).sum())*math.sqrt(((df['y']-df['y'].mean())**2).sum()))
denominator

16.1245154965971

-0.9922778767136677

In [0]:
math.sqrt(260)

16.1245154965971

In [0]:
r=numerator/denominator
r

-0.9922778767136677

In [0]:
sx=math.sqrt(((df['x']-df['x'].mean())**2).sum()/df['x'].count())
sx

2.280350850198276

In [0]:
df['x'].count()

5

In [0]:
sy=math.sqrt(((df['y']-df['y'].mean())**2).sum()/df['y'].count())
sy

1.4142135623730951

In [0]:
a=abs(r*(sy/sx))
a

0.6153846153846154

In [0]:
b=df['y'].mean()-a*df['x'].mean()
b

2.1538461538461537

In [0]:
y=a*10+b
y

8.307692307692308