<a href="https://colab.research.google.com/github/GokulGopinath/Machine-Learning-Algorithms-Implementation/blob/master/multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
x1=[3,4,5,6,2]
x2=[8,5,7,3,1]
y=[-3.7,3.5,2.5,11.5,5.7]
df=pd.DataFrame({'x1':x1,'x2':x2,'y':y})
df

   x1  x2     y
0   3   8  -3.7
1   4   5   3.5
2   5   7   2.5
3   6   3  11.5
4   2   1   5.7

In [0]:
def fn(x1,x2):
  return ((df[x1]*df[x2]).sum()-((df[x1].sum()*df[x2].sum())/df[x1].count()))
fn('x1','x2')

3.0

In [0]:
((df['x1']*df['x2']).sum()/df['x1'].count())

19.8

In [0]:
b1=(fn('x2','x2')*fn('x1','y')-fn('x1','x2')*fn('x2','y'))/(fn('x1','x1')*fn('x2','x2')-fn('x1','x2')**2)
b1

2.2816300940438885

In [0]:
b2=(fn('x1','x1')*fn('x2','y')-fn('x2','x1')*fn('x1','y'))/(fn('x2','x2')*fn('x1','x1')-fn('x2','x1')**2)
b2

-1.6721003134796237

In [0]:
bo=df['y'].mean()-b1*df['x1'].mean()-b2*df['x2'].mean()
bo

2.7995611285266406

In [0]:
x1=5
x2=6
y=bo+b1*x1+b2*x2
y

4.175109717868342